.button-with-icon {
    display: flex;
    gap: 15px;
}

.button-with-icon .select {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: capitalize;
}

.button-with-icon .icon.select-chain.select {
    display: inline-block;
    background: #f0f0f0;
    width: auto;
    font-size: 24px;
}

.input-with-text {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.input-with-text input {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 15px;
    width: 100%;
    height: 40px;
    font-size: 18px;
}


/* coin List style */

.coin-list {
    padding: 15px;
    background: gray;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 400px;
    height: 100%;
}

.coin-item {
    display: flex;
    gap: 15px;
    align-items: center;
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.coin-item+.coin-item {
    margin-top: 15px;
}

.coin-item .icon img {
    height: 35px;
    width: 35px;
}

.coin-item .icon {
    display: inline-block;
    border: 2px solid gray;
    padding: 8px;
    border-radius: 10px;
    border-left: none;
    border-top: none;
}

.icon-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coin-item .icon-detail .coin-price {
    margin-bottom: 0;
}

.coin-item .icon-detail .coin-text {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

.icon-detail-box {
    width: 100%;
}

.coin-info {
    font-size: 14px;
    text-decoration: none;
    line-height: 16px;
}


/* section tilte  */

.section-title h3.section_title {
    font-size: 24px;
}

.section-title h3.section-description {
    font-size: 16px;
}

.top-section {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b0cbfe;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.top-left-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-section.icon-box {
    align-items: center;
    display: inline-flex;
    gap: 8px;
}

.icon-section .icon-small {
    font-size: 18px;
}

.info-text {
    font-size: 14px;
}

.info-text.heading {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    text-transform: capitalize;
}


/* Info icon */

.btn-icon {
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
    line-height: 14px;
}

.btn {
    border: none;
    background-color: transparent;
}

.top-right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-text {
    font-size: 14px;
    padding: 4px 15px;
    background-color: #e9e9e9;
    color: black;
    text-transform: capitalize;
}

.route-exchange-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.route-exchange-section .exchange-box+.exchange-box {
    margin-top: 0 !important;
}